.tabs{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8D8D8;
    border: 1px  rgb(97, 90, 90);;
}

.last-tab{
    margin-right: 24px;
}

.hr-line{
    position: relative;
    bottom: 40.5px;
    color: rgb(97, 90, 90);
}

.first-tab{
    margin: 24px;
    margin-right: 0px;
    position: relative;
    border-bottom: none;
    font-size: 14px;
}

.next-tab{
    margin-top: 24px;
    font-size: 14px;
}

.inactive{
    background-color: #F2F2F2;
    color: #666666;
    z-index: 0;
}

.active{
    border: 1px solid #2E2E2E;
    border-bottom:none;
    z-index:1;
    color: #2E2E2E;
}

.above-tab-bg{
    background-color: #F2F2F2;
}

.second-layer-bg{
    background-color: #D8D8D8;
    height: 100vh;
    position: relative;
    bottom:25px;
    border: 1px solid #2E2E2E;
    border-left:none;
    border-right:none;
    border-bottom:none;
    padding-bottom: 25px;
}

.move-layout-left{
    margin-left: 24px;
    margin-right: 24px;
}
